body {
	background: #000000 no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	margin: auto;
	margin-top: 16px;
	background-image: url("../img/title.png");
	width: 512px;
	height: 72px;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.glass {
	border: 1px solid #7773;
	background-color: #2228;
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
}

.graph {
	margin: auto;
	margin-top: 16px;
	width: max-content;
	text-align: center;
	border-radius: 1rem;
	background: #18181888;
}

.axis {
	font: 0.875em sans-serif;
	fill: #eeeeee;
}

.axis path, .axis line {
	fill: none;
	stroke: #eeeeee;
	shape-rendering: crispEdges;
}

.options {
	margin: auto;
	margin: 1rem;
	font: 0.875em sans-serif;
	color: #eeeeee;
	display: flex;
	gap: 1rem;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
}

.options .card {
	--padding: 1rem;
	border-radius: 1rem;
	padding: var(--padding);
	flex-grow: 1;
	max-width: 20rem;
}

.options .card > div {
	padding: 1rem;
	border-radius: .5rem;
	margin-block: 1rem;
	background: #1114;
	border: 1px solid #7773;
	min-width: 14rem;
}

.options .card > div:first-of-type {
	margin-top: 0;
}
.options .card > div:last-of-type {
	margin-bottom: 0;
}

.options .card > div > :first-child {
	margin-top: 0;
}

.options :is(sl-input, sl-checkbox, sl-select) {
	margin-top: 1rem;
}

.options :is(sl-input, sl-checkbox, sl-select)[disabled] {
	display: none;
}

.options sl-checkbox + sl-checkbox {
	margin-top: 0;
}

sl-checkbox {
	display: flex;
	min-height: 2rem;
	align-items: center;
}

#tdhelp {
	background-color: transparent;
}

#divhelp {
	padding: 12px;
	margin: auto;
	text-align: center;
}

#divhelp a {
	padding: 8px 12px 8px 12px;
	background-color: #111111;
	border: 1px #000000 solid;
	border-radius: 8px;
	color: #eeeeee;
	text-decoration: none;
}

#divhelp a:hover {
	color: #eeeeee;
	text-decoration: none;
}

#divhelp a:visited {
	color: #eeeeee;
	text-decoration: none;
}

input:disabled {
    color: #888888;
}

.tooltipTitle {
	font: 1em sans-serif;
	color: #eeeeee;
	margin: 0px;
}

.tooltipTitleExtra {
	font: 1em sans-serif;
	color: #eeeeee;
	margin: 0px;
	margin-top: 12px;
}

.tooltipTable {
	padding: 4px 8px 4px 8px;
}

.tooltipTdLeft {
	font: 0.875em sans-serif;
	color: #eeeeee;
	padding: 1px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdLeftSpace {
	font: 0.875em sans-serif;
	color: #eeeeee;
	padding: 8px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdRight {
	font: 0.875em sans-serif;
	color: #eeeeee;
	padding: 0px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdRightPos {
	font: 0.875em sans-serif;
	color: lime;
	padding: 0px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdRightNeg {
	font: 0.875em sans-serif;
	color: red;
	padding: 0px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.gold {
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
	margin-left: 2px;
	display: inline-block;
	background-image: url("../img/gold.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: transparent;
}

.footer {
    bottom: 0px;
    text-align: center;
    width: 100%;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000')";
}

.footer p {
	color: #eeeeee;
	font: 0.875em sans-serif;
	opacity: 0.75;
}

.footer a {
	color: #eeeeee;
	text-decoration: none;
}

.footer a:hover {
	color: #eeeeee;
	text-decoration: underline;
}

.footer a:visited {
	color: #eeeeee;
	text-decoration: none;
}

.help {
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	font: 0.875em sans-serif;
	text-align: justify;
	color: #eeeeee;
	background-color: #333333;
	border-radius: 8px;
	padding: 16px;
	width: 768px;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.75));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
}

.help h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.help h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.help p {
	margin-top: 8px;
	margin-bottom: 24px;
}

.help table thead tr th {
	padding: 6px;
}

.help table tbody tr td {
	padding: 6px;
	background-color: #222222;
	border-radius: 4px;
	vertical-align: top;
}

.help a {
	color: #eeeeee;
}

.help a:hover {
	color: #eeeeee;
}

.help a:visited {
	color: #eeeeee;
}
